body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainDiv{
}

.gridDiv {
  width: 80vw;
  margin: 0 auto;
  position:calc(100);
}

.grid {
  float: left;
  outline: 1px solid gray;
  width: 4vw;
  height: 4vw;
  z-index: 1;
  text-align: justify;
}


.grid:hover {
  background-color: red;
}

div.image::before {
  content:url(https://static01.nyt.com/images/2019/07/13/arts/bob-ross-oak_blue-ridge-falls/bob-ross-oak_blue-ridge-falls-jumbo-v2.jpg?quality=75&auto=webp);
}

img {
  object-fit: cover;
}

.rnd{
}

.gridObject{
  border: 1px solid black;
  width: 80%;
  height: 80%;
  font-size: 2em;
  z-index: 2;
}

textarea {
  resize: none;
}
